In [3]:
def enumerate(sequence, start=0):
    n = start
    for elem in sequence:
        yield n, elem
        n += 1

In [4]:
enumerate([1,2,3,4,5])

In [6]:
for x in enumerate([1,2,3,4,5]):
    print(x)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

### mutable datatype 
The mutable data types in Python are list, dictionary, set and user-defined classes

In [7]:
li = [1,2,4,5]

In [8]:
li[0] = 0

In [9]:
li

[0, 2, 4, 5]

In [10]:
li.pop()

5

In [11]:
li

[0, 2, 4]

In [12]:
li.append(6)

In [13]:
li

[0, 2, 4, 6]

In [14]:
di = {1:'A', 2:'B'}

In [15]:
di

{1: 'A', 2: 'B'}

In [17]:
di[1]

'A'

In [18]:
di.get(2)

'B'

In [19]:
di[2] = 'C'

In [20]:
di

{1: 'A', 2: 'C'}

#### Deletion can't be made wr to index, so key based deletion

In [22]:
del di[2]

In [23]:
di

{1: 'A'}

In [24]:
di[3] = 'C'

In [26]:
di

{1: 'A', 3: 'C'}

In [31]:
the_set = {'1', '2', '3'}

In [32]:
the_set

{'1', '2', '3'}

In [36]:
the_set = {'1', '2', '3', '3'}

In [37]:
the_set

{'1', '2', '3'}

In [40]:
set1 = {"abc", 34, True, 40, "boom"}

In [41]:
set1

{34, 40, True, 'abc', 'boom'}

In [42]:
set1.add('add')

In [43]:
set1

{34, 40, True, 'abc', 'add', 'boom'}

In [44]:
set1.remove(40)

In [45]:
set1

{34, True, 'abc', 'add', 'boom'}

In [46]:
set1.remove(akja)

NameError: name 'akja' is not defined

In [47]:
set1[0]

TypeError: 'set' object is not subscriptable

In [48]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 'b', 2, 3, 'a'}

In [49]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 'b', 2, 3, 'a'}

In [50]:
set1.intersection(set2)

{1, 2, 3}

#### Difference between mutable and immutable datatypes

In [29]:
list_values = [1, 2, 3]
set_values = (1, 2, 3)
print(id(list_values), "List id")
print(id(set_values), 'tuple id')
list_values += [4, 5, 6]
set_values += (4, 5, 6)
print(id(list_values), "List id")
print(id(set_values), 'tuple id')

1723668562368 List id
1723668338624 tuple id
1723668562368 List id
1723668323200 tuple id

 the list identity is not changed, while the tuple identity is changed. This means that we have expanded our list, but created a completely new tuple. Lists are more memory efficient than tuples.

#### Immutable items

### immutable datatypes

immutable types include numeric data types, strings, bytes, and tuples.

In [51]:
# string
e = 'Hello, World!'
print(id(e))
e = 'Hello, Mars!'
print(id(e))

1723669646576
1723669647152

In [53]:
# bytes
unicode = 'This is üŋíc0de' 
print("before changes")
print(type(unicode))
f = unicode.encode('utf-8')
print(type(f))
print(id(f))
f = b'A bytes object' 
print("After changes")
print(id(f))

before changes
<class 'str'>
<class 'bytes'>
1723669615088
After changes
1723669652848

In [54]:
g = (1, 3, 5)
print(id(g))
g = (42, )
print(id(g))

1723668337024
1723668552768

In [56]:
g[0] #Indexing is possible thooooooo

42

In [58]:
g.pop() #can't make changes in the immutable datatype

AttributeError: 'tuple' object has no attribute 'pop'

In [60]:
g = g + (5,6,7,8) #this will be stored in new location but reassigning is not possible

In [61]:
g

(42, 5, 6, 7, 8)

In [63]:
id(g)

1723668432112

### Source : https://towardsdatascience.com/immutable-vs-mutable-data-types-in-python-e8a9a6fcfbdc